.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Test {
  font-style:italic;
}

#ZoidbergJesus {
  width: 100px;
  height: 100px;
}

.App-link {
  color: #61dafb;
}

.pictur {
  width:600px;
  height:400px;
}

.Leftnright{
  display:flex;
  align-items:flex
}
.lefty{
  width:35%;
}
.righty {
  background-color:grey;
  text-align:middle;
  width:75%;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
